h1{color: crimson;}
h2{color: coral;}
legend{color: blue;}
input{border-radius:8px;}
button{color: blue;}
td{color: brown;background-color: burlywood;}
th{color: darkmagenta;background-color: cornflowerblue;}